# testStringBananaCreme

alias rs='source ~/.bashrc'
alias iamthecaptainnow='sudo spctl --master-disable'

# term
alias b="cd .."
alias ca='clear && printf "\e[3J"'

# linux
alias naut="nautilus ."
alias sag="sudo apt-get"
alias sagi="sag install"

# npm
alias nis="npm install --save"
alias nig='npm install --global'
alias ns='npm start'
alias nis='npm install --save'
alias nisd='npm install --save-dev'

# git
alias tug='git pull origin $(curr) --rebase'
alias gup='git checkout master && tug'
alias delcur='git push origin --delete --no-verify $(curr)'
alias gac='git add -A :/ && git commit -m'
alias gacnow='git add -A :/ && git commit --no-verify -m '
alias gcm='git commit -m'
alias gcmnow='git commit --no-verify -m'
alias gpo='git push origin HEAD'
alias gponow='git push origin HEAD --no-verify'
alias ga='git add -A'
alias gc='git commit -v'
alias gco='git checkout'
alias gd='git diff'
alias gst='git status'
