# testStringBananaCreme

include () {
    [[ -f "$1" ]] && source "$1"
}

curr(){
  OUTPUT=$(git rev-parse --abbrev-ref HEAD)
  if [ "$1" ]; then
    echo $OUTPUT | tr '[:upper:]' '[:lower:]'
  else
    echo $OUTPUT  
  fi
}

killPort () {
  kill $(lsof -i:$1 -t)
}

zzz (){
  if [ "$1" ]; then
    repo_name=$1
  else
    repo_name=${PWD##*/}
  fi
  curl -u $GITHUB_USERNAME:$GITHUB_PW https://api.github.com/user/repos -d '{ "name": "'"$repo_name"'" }'
}

add-remote () {
  if [ "$1" ]; then
    repo_name=$1
  else
    repo_name=${PWD##*/}
  fi
  git remote add origin "git@github.com:austinezell/$repo_name.git"
}

lBranches(){
  if [ "$1" ]; then
    BRANCH_COUNT=$1
  else 
    BRANCH_COUNT=15
  fi
  git for-each-ref --count=$BRANCH_COUNT --sort=-committerdate refs/heads/ --format='%(refname:short)'
}

cbr() {
  echo "($(curr true))"
}
