# testStringBananaCreme

curr(){
  echo $(git rev-parse --abbrev-ref HEAD)
}

killPort () {
  kill $(lsof -i:$1 -t)
}

zzz (){
  if [ "$1" ]; then
    repo_name=$1
  else
    repo_name=${PWD##*/}
  fi
  curl -u $USER:$PASSWORD https://api.github.com/user/repos -d '{ "name": "'"$repo_name"'" }'
}

add-remote () {
  if [ "$1" ]; then
    repo_name=$1
  else
    repo_name=${PWD##*/}
  fi
  git remote add origin "git@github.com:austinezell/$repo_name.git"
}

lastBranches(){
  if [ "$1" ]; then
    BRANCH_COUNT=$1
  else 
    BRANCH_COUNT=15
  fi
  git for-each-ref --count=$BRANCH_COUNT --sort=-committerdate refs/heads/ --format='%(refname:short)'
}
